poetry.lock
Scripts/dataset/cifar-10-python.tar.gz
Scripts/dataset/cifar-10-batches-py/batches.meta
Scripts/dataset/cifar-10-batches-py/data_batch_1
Scripts/dataset/cifar-10-batches-py/data_batch_2
Scripts/dataset/cifar-10-batches-py/data_batch_3
Scripts/dataset/cifar-10-batches-py/data_batch_4
Scripts/dataset/cifar-10-batches-py/data_batch_5
Scripts/dataset/cifar-10-batches-py/readme.html
Scripts/dataset/cifar-10-batches-py/test_batch
dataset/cifar-10-batches-py/batches.meta
dataset/cifar-10-batches-py/data_batch_1
dataset/cifar-10-batches-py/data_batch_2
dataset/cifar-10-batches-py/data_batch_3
dataset/cifar-10-batches-py/data_batch_4
dataset/cifar-10-batches-py/data_batch_5
dataset/cifar-10-batches-py/test_batch
FedFA/__pycache__/__init__.cpython-310.pyc
FedFA/__pycache__/client.cpython-310.pyc
FedFA/__pycache__/dataset.cpython-310.pyc
FedFA/__pycache__/main.cpython-310.pyc
FedFA/__pycache__/strategy.cpython-310.pyc
FedFA/__pycache__/models.cpython-310.pyc
dataset/cifar-10-batches-py/readme.html
dataset/cifar-10-python.tar.gz
